<IfModule mod_rewrite.c>
  RewriteEngine on
  #RewriteRule   ^~(.+)  http://www.arslexis.com/~$1  [R,L]

  # redirect /flickr to /palm/infoman/flickr.html
  RewriteRule ^flickr$ /palm/infoman/flickr.html [L,R]

  # redirect /pda to /
  RewriteRule ^pda$ / [L,R]

  RewriteRule ^dl/noah_lite.zip$ http://noahpro.org [L,R]
  RewriteRule ^dl/noah_pro2_db.zip$ http://noahpro.org [L,R]
  RewriteRule ^dl/noah_pro_demo.zip$ http://noahpro.org [L,R]
  RewriteRule ^dl/thes_demo.zip$ http://noahpro.org [L,R]
  RewriteRule ^dl/InfoMan.prc$ http://www.arslexis.com [L,R]
  RewriteRule ^dl/InfoMan.zip$ http://www.arslexis.com [L,R]
  RewriteRule ^dl/iNoah.prc$ http://www.arslexis.com [L,R]
  RewriteRule ^dl/iNoah.zip$ http://www.arslexis.com [L,R]
  RewriteRule ^dl/iPedia.prc$ http://www.arslexis.com [L,R]
  RewriteRule ^dl/iPedia.zip$ http://www.arslexis.com [L,R]

  # TODO: uncomment all below to get mobile-specific behaviour
  #RewriteBase /

  #RewriteCond %{HTTP_USER_AGENT} .*Smartphone.*
  #RewriteRule ^$ /pda/sm.html     [L,R]

  #RewriteCond %{HTTP_USER_AGENT} .*Smartphone.*
  #RewriteRule ^index.html$ /pda/sm.html     [L,R]

  #RewriteCond %{HTTP_USER_AGENT} .*Palm.*
  #RewriteRule ^$ /pda/palm.html   [L,R]

  #RewriteCond %{HTTP_USER_AGENT} .*Palm.*
  #RewriteRule ^index.html$ /pda/palm.html   [L,R]
</IfModule>
